.slider {
	width:     100%;
	max-width: 100%;
	position:  relative;
	overflow:  hidden;

	&__wrapper {
		display:  flex;
		position: relative;

		& > * {
			width: 100%;
			flex:  1 0 auto;
		}

		&.anim {
			transition: all .3s linear;
		}
	}

	&__btn {
		display:         flex;
		align-items:     center;
		justify-content: center;
		border-radius:   100%;
		position:        absolute;
		top:             50%;
		transform:       translateY(-50%);
		background:      #FFFFFF;
		box-shadow:      0 4px 10px rgba(0, 0, 0, .1);
		transition:      all .2s ease;
		cursor:          pointer;
		z-index:         100;
		border:          none;

		svg path {
			transition: all .2s ease;
		}

		&:hover {
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

			svg path {
				fill: #4E4E4E;
			}
		}

		&_big {
			width:  48px;
			height: 48px;

			&:hover {
				width:  52px;
				height: 52px;
			}
		}

		&_small {
			width:  28px;
			height: 28px;

			svg {
				width:  5px;
				height: 10px;
			}

			&:hover {
				width:  32px;
				height: 32px;
			}
		}

		&_prev {
			left: 12px;
		}

		&_next {
			right: 12px;
		}

		&[disabled] {
			background: #EEEEEE;

			svg path {
				fill: #8C8C8C;
			}

			&:hover {
				width:      48px;
				height:     48px;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
				cursor:     auto;
			}
		}
	}

	&__dots {
		position:        absolute;
		bottom:          10px;
		display:         flex;
		align-items:     center;
		justify-content: center;
		margin:          0;
		padding:         0;
		list-style-type: none;
		z-index:         100;

		&_left {
			left: 12px;
		}

		&_center {
			left:      50%;
			transform: translateX(-50%);
		}

		&_right {
			right: 12px;
		}
	}

	&__dots-item {
		width:            12px;
		height:           12px;
		border-radius:    100%;
		border:           1px solid #D9D9DA;
		background-color: #fff;
		margin:           0 4px;
		cursor:           pointer;
		transition:       all .2s ease;
		display:          flex;
		align-items:      center;
		justify-content:  center;

		&:before {
			box-sizing:    border-box;
			content:       '';
			display:       block;
			width:         100%;
			height:        100%;
			background:    transparent;
			transition:    all .2s ease;
			border-radius: 100%;
			border:        2px solid #fff;
		}

		&:hover,
		&.active {
			&:before {
				background: #F47021;
			}
		}
	}
}
